
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Streaming</title>
  <link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
  <script src="https://unpkg.com/video.js/dist/video.min.js"></script>
  <script src="https://unpkg.com/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.js"></script>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .video-js {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  </style>
</head>
<body>
  <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}'>
    
    <% subtitles.forEach(sub => { %>
      <track kind="subtitles" src="<%= sub.url %>" srclang="<%= sub.language %>" label="<%= sub.language %>">
    <% }); %>
  </video>
  <script>
    var player = videojs('my_video_1');
    player.qualityLevels();
    player.ready(function() {
        var src = [{
            src: "<%= url %>",
            type: 'application/x-mpegURL'
          }];
          player.src(src);
          
      this.play();
    });
  </script>
</body>
</html>
